* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  background: #ffffff;
  padding: 5px;
  color: #000;
  border-radius: 5px;
  border: 1px solid #ccc;
}

h3,
h2 {
  color: #000;
}

ul {
  margin-left: 1em;
}

li {
  margin-top: 10px;
}

body {
  font: 18px Arial;
  color: #777777;
  padding-bottom: 30px;
  display: grid;
  grid: 150px 3fr / 1fr 450px 750px 1fr;
}

.header {
  grid-column: 1/5;
  grid-row: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444;
  color: #fff;
}

.header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5px 0;
}

.aside {
  grid-column: 2/3;
  grid-row: 2;
}

.main {
  grid-column: 3/4;
  grid-row: 2;
  margin-right: 5px;
}
strong {
  color: #000;
}
/*@media (max-width: 1200px) {*/
/*  body {*/
/*    grid: 4fr /3fr;*/
/*  }*/

/*  .header {*/
/*    grid-column: 1/5;*/
/*    grid-row: 1;*/
/*  }*/

/*  .aside {*/
/*    grid-column: 1/5;*/
/*    grid-row: 2;*/
/*  }*/

/*  .main {*/
/*    grid-column: 1/5;*/
/*    grid-row: 3;*/
/*  }*/
/*}*/

@media (max-width: 500px) {
  body {
    grid: 4fr /3fr;
  }

  .header {
    grid-column: 1/5;
    grid-row: 1;
  }

  .aside {
    grid-column: 1/5;
    grid-row: 2;
  }

  .main {
    grid-column: 1/5;
    grid-row: 3;
  }
}

.aside section {
  display: grid;
  grid: auto auto/30px 120px 1fr;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  color: black;
}

.aside section > span {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
}

.aside section > h2 {
  grid-column: 2;
  grid-row: 1;
}

.aside section > .detail {
  grid-column: 2 / span 2;
  grid-row: 2;
}

.aside section > hr {
  grid-row: 1;
  grid-column: 3;
  border: none;
  height: 3px;
  background: #66a9a3;
}

.aside section .skill-bar dt {
  margin-top: 16px;
}

.aside section .skill-bar dd {
  height: 3px;
  background: #eaeaea;
}

.aside section .skill-bar dd div {
  height: 100%;
  background: #66a9a3;
  margin-top: 10px;
}

.aside section .icon-list {
  display: flex;
  align-items: center;
}

.aside section .icon-list > img {
  width: 1em;
  height: 1em;
  margin-right: 10px;
  fill: #333333;
}

.aside section img {
  width: 20px;
  height: 20px;
}

.main > .title {
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  display: grid;
  grid: 1fr/120px 1fr;
}

.main > .title > hr {
  border: none;
  height: 3px;
  background: #66a9a3;
}

.main section > h3 {
  grid-row: 1;
  grid-column: 1;
}
.main section > span {
  grid-row: 1;
  grid-column: 2 / span 1;
}
.main section > ul {
  grid-row: 2;
  grid-column: 2 / span 1;
}
.main section {
  display: grid;
  grid: auto auto / 120px auto 50px;
  margin-top: 10px;
  padding: 10px;
}
